[Unit]
Description=Lichess Kids Web Service
After=network-online.target

[Container]
Image=localhost/lichesskids:latest
PublishPort=64355:64355
Volume=lichesskids-db.volume:/data:Z
Volume=lichesskids-assets.volume:/app/assets:Z
Environment=PORT=64355
Environment=DATABASE_URL=/data/lichesskids.db

[Install]
# Active under user session default target for rootless deployment
WantedBy=default.target
